.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}


.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #FFF;
    border-bottom: 5px solid gold;
}

.panel{
    
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.square{
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: #8d311280;
}
.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;
    background-color: rgba(145, 78, 78, 0.253);
}
.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}