/**
    Padroniza para todos os browsers

**/
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Press+Start+2P&family=Roboto+Slab:wght@100&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /*conta de borda a outra borda */
    font-family: 'Press Start 2P', cursive;
}
