body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fc1e8a;
    user-select: none;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, 
    rgb(0, 47, 255), 
    rgb(225, 0, 255),
    rgb(144, 7, 235), 
    rgb(0, 255, 200));
    padding: 40px 60px;
}

h2{
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: #0f0f0F;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:hover{
    background-color: rgb(99, 99, 99);
}

.reset:focus{
    background-color: #2b2b2b;
}

.game{
    width: 1200px;
    height: 430px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style:preserve-3d ;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 4em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #505050;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item.boxOpen::after, .item.boxMatch::after{
    transform: rotateY(180deg);
}


